.todo-item {
    text-align: left;
    margin-top: 1rem;
    background: #cdcdcd;
}

.todo-item button {
    border: 0;
    margin: .5rem;
    margin-right: .5rem;
}

.todo-item .col-lg-9 {
    padding-top: .8rem;
}